##
# Default project editor config. Any changes to this in a given project should be offered as a pull request back into
# this project.
# See http://editorconfig.org
##

##
# Special property that should be specified at the top of the file outside of any sections. Set to true to stop
# .editorconfig files search on current file.
##
root = true

##
# Configuration for all files.
##
[*]
charset = utf-8

# Line length
max_line_length = 120

# Tab indentation
indent_size = 2
indent_style = space

# Line endings
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
